<div>
	<h1>Why do we need Jarvis?</h1>
	<p>
	The only voice applications that exists are per application,
	</p>
	<p>
	Waze has a voice enablement, Easy.co.il has voice enablement…
	</p>
	<p>
	It demands user action to interact with it, 
	</p>
	<p>
	Clicking the microphone button on google search to start recording to the search input 
	</p>
	<p>
	and clicking again to end the recording, and Appple Siri's the same…
	</p>
	<p>
	We need an infrastructure to interact with everything we need it to be simple, fun, 
	</p>
	<p>
	dynamic and we need it to work always just like our keyboard or mouse or screen.
	</p>
</div>